.section-title__item1 {
    color: #000000;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 400;
    line-height: 46px;
    /* Text style for "About Us" */
    letter-spacing: -3px;
    margin-bottom: 35px;
}

.section-title__item2 {
    color: #666666;
    font-family: Poppins;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 59px;
}


.box__icons {
    width: 109px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.box__icons a {
    color: #ffc000;
    font-size: 20px;
    line-height: 26px;
    font-size: 18px;
}

.google-icon {
    width: 20px;
    transform: scale(1.7);
    margin-bottom: 2px;
}


.header-wrapper {
    background-color: #000000;
}

.navbar {
    justify-content: space-between;

}

.navbar a:hover {
    text-decoration: none;
}

.navbar-brand {
    padding: 0 0 0 9px;
    line-height: 76px;
    width: 143px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.51px;

}

.navbar-collapse {
    justify-content: center;
}

.navbar-collapse ul {
    width: 500px;
    justify-content: space-around;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 21px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 24.5px;
        padding-bottom: 24.5px;
        line-height: 27px;
    }
}

.nav-item a {
    color: white;
    text-decoration: none;
    color: #fff !important;
    cursor: pointer;
}

.nav-item a:hover {
    opacity: 0.8;
}

.navigation-btn {
    width: 120px;
    height: 36px;
    border: 2px solid #ffc000;
    border-radius: 30px;
    background-color: transparent;
    color: #ffffff;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3px;
}

.navigation-btn:hover {
    border: 2px solid #ffc000;
    background-color: transparent;
    opacity: 0.8;
}

.carousel-item__desc {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item__desc-title h3 {
    color: #ffffff;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 400;
    /* Text style for "W, e'll Pr" */
    letter-spacing: -1.03px;
}

@media (max-width: 768px) {
    .carousel-item__desc-title h3 {
        font-size: 30px;
        text-align: center;
    }
}

.carousel-item__desc-title h2 {
    color: #ffc000;
    font-family: Flow;
    font-size: 123px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "r" */
    letter-spacing: -4.36px;
}

@media (max-width: 768px) {
    .carousel-item__desc-title h2 {
        font-size: 60px;
        text-align: center;
    }
}

.carousel-item__desc-text p {
    width: 60%;
    color: #ffffff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .carousel-item__desc-text p {
        width: 100%;
        font-size: 19px;
        text-align: center;
    }
}

.carousel-item__wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
}




.arrow-l {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    justify-content: center;
}

.arrow-r {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    justify-content: center;
}

@media (max-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}


.header {
    background-color: #121212;
}

.about {
    padding-top: 99px;
    padding-bottom: 120px;
    position: relative;
}
#particles canvas{
    position: absolute;
    top: 0;
}
@media (max-width: 622px) {
    #particles canvas {
       display: none;
    }
}

.about-video {
    height: 500px;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.about-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: 2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}







.blurbs {
    background-color: black;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blurbs-description p {
    color: #b6b6cd;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.blurbs-description h4 {
    margin: 0 auto;
    width: 80%;
    color: #ffffff;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.75px;
    margin-top: 43px;
    margin-bottom: 10px;
}

.services {
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 100px;
}



.team {
    background-color: #ffcf3c;
    padding-top: 82px;
    padding-bottom: 130px;
}

.team-card__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    justify-content: flex-end;
    padding-top: 210px;
    margin-top: 47px;
}

.team-card {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 47px;
}

.team-card__desc h4 {
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.6px;
}

.team-card__desc span {
    color: #ffc000;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.team-card__desc p {
    width: 88%;
    margin: 0 auto;
    margin-top: 27px;
    color: #aaaaaa;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    height: 65px;
    overflow: hidden;
}

.contact {
    padding-top: 85px;
    padding-bottom: 122px;
    background-color: black;
}

.contact-title {
    color: white;
}

.contact-title h2 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: -3px;
}

.contact-title h2 span {
    margin-bottom: 10px;
    color: #ffc000;
}

@media (max-width: 768px) {

    .contact-title h2,
    .contact-title h2 span {
        font-size: 50px;
    }
}

.contact-title p {
    margin: 0 auto;
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 55px;
}

.contact-input {
    height: 60px;
    background-color: #ffffff;
    border-radius: 30px;

    color: #aaaaaa;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    padding-left: 40px;
}

@media (max-width: 768px) {
    .contact-input {
        height: 50px;
        font-size: 14px;
    }
}

.contact-btn {
    border: 2px solid #ffc000;
    border-radius: 30px;
    width: 220px;
    background-color: #ffc000;
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.9px;
    border: 0;
}

.contact-btn:hover {
    border: 0;
    background-color: #ffc000;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .contact-btn {
        width: 150px;
        font-size: 14px;
    }
}
@media (max-width: 370px) {
    .contact-btn {
        width: 100px;
        font-size: 14px;
    }
}

.input-group {
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.footer-wrapper h6 {
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    font-family: "Poppins Light";
    margin: 0;
}

.footer-wrapper h6 span {
    font-family: "Poppins";
    font-weight: 600;
}

.footer-box__icons {
    width: 109px;
    justify-content: space-between;
}

.footer-box__icons a {
    color: #939394;
    font-size: 20px;
    line-height: 26px;
    font-size: 18px;
    margin-right: 4px;
}